/*
Color Pallette:

Dark Blue: rgb(40,69,98);
light Blue: rgb(89, 201, 231);
sky blue: rgb(130, 159, 188);
Red: rgb(235,28,36);
black: rgb(17,17,17);
white: rgb(255,255,255);
 */

/* Universal Styles */
