/*
Color Pallette:

Dark Blue: rgb(40,69,98);
light Blue: rgb(89, 201, 231);
sky blue: rgb(130, 159, 188);
Red: rgb(235,28,36);
black: rgb(17,17,17);
white: rgb(255,255,255);
 */

/* Universal Styles */
a {
  color: rgb(255,255,255);
}

div {
  border: 1px solid black;
}

img {
  max-width: 100%;
}

li.active a {
  color: rgb(235,28,36);
}

.btn-success {
  background-color: rgb(89, 201, 231);
  border-color: rgb(26, 130, 158);
}

.btn-success:hover {
  background-color: rgb(26, 130, 158);
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    border: 1px solid rgb(235,28,36);
    border-radius: 5px;
    background-color: rgb(40,69,98);
    color: white;
}

/* Header Section */
.bg-primary {
  background-color: rgb(40,69,98);
}

a.navbar-brand {
  font-weight: bold;
  color: rgb(235,28,36);
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  color: rgb(89, 201, 231);
}

/* Hero Section */
#hero {
  background: url('../img/hero-bg.jpeg') 50% 0 no-repeat fixed;
  background-size: cover;
  min-height: 805px;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#hero .overlay {
  display: flex;
  align-items: center;
  min-height: 805px;
  width: 100%;
  background-color: rgba(0,0,0,.25);
}

#hero .content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#hero img {
  padding: 10px;
  border: 1px solid black;
  border-radius: 100%;
  background-color: rgba(40,69,98,0.75);
}

.hero-text {
  text-align: center;
}

/* Opt In Section */
#opt-in {
  background: #3e4249;
  padding: 20px 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 1.2em;
}

#opt-in p {
  margin: 7px 0 0 0;
}

/* 'SignUp' Section */
#signup {
  text-align: center;
  background: url('../img/hero-bg.jpeg') center center repeat fixed;
  background-size: cover;
  color: white;
  padding: 140px 0;
}

#signup h2 {
  font-weight: normal;
}

#signup h2 strong {
  border-bottom: solid 2px #dd5638;
}

#signup .btn {
  font-size: 24px;
}

footer p {
  margin: 0;
}

footer a:link, footer a:visited {
  color: white;
}

footer a:hover {
  color: #dd5638;
}

footer li.signup-link a {
  color: #dd5638;
}

footer li.signup-link a:hover {
  font-weight: bold;
}
