/*
Color Pallette:

Dark Blue: rgb(40,69,98);
light Blue: rgb(89, 201, 231);
sky blue: rgb(130, 159, 188);
Red: rgb(235,28,36);
black: rgb(17,17,17);
white: rgb(255,255,255);
 */

/* Universal Styles
   ========================================================================== */
a {
  color: rgb(255,255,255);
}

/* div {
  border: 1px solid black;
} */

hr {
  width: 10%;
  height: 2px;
  background: grey;
}

img {
  max-width: 100%;
}

section {
  text-align: center;
  padding: 50px;
}

.section-header {
  margin: 30px 0;
}

.section-header h3 {
  color: rgb(89, 201, 231);
  font-weight: bold;
}

.section-header p {
  font-size: 1.75rem;
}

li.active a {
  color: rgb(235,28,36);
}

.btn-success {
  background-color: rgb(89, 201, 231);
  border-color: rgb(26, 130, 158);
}

.btn-success:hover {
  background-color: rgb(26, 130, 158);
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    border: 1px solid rgb(235,28,36);
    border-radius: 5px;
    background-color: rgb(40,69,98);
    color: white;
}

.overlay {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgba(0,0,0,.25);
}

.bg-primary, .link, footer {
  background-color: rgb(40,69,98);
  color: white;
}

#about, #solutions, #contact {
  background: url('../img/tile.jpg') top left repeat;
}

#alpha, #omega {
  padding: 0;
}

.link {
  padding: 0;
}

.link .button {
  padding: 5px 20px;
}

.link .row {
  align-items: center;
}

.link div.text {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px 0 0;
}


/* Layout */

/* Main Window */

  /* Header
   ========================================================================== */

    /* NavBar */
a.navbar-brand {
  font-weight: bold;
  color: rgb(235,28,36);
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  color: rgb(89, 201, 231);
}

  /* Hero-Alpha
   ========================================================================== */
#alpha {
  background: url('../img/hero-bg.jpeg') 50% 0 no-repeat fixed;
  background-size: cover;
  min-height: 805px;
  color: white;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#alpha .overlay {
  min-height: 805px;
}

#alpha .content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#alpha .row {
  align-items: center;
}

#alpha img {
  padding: 10px;
  border: 1px solid black;
  border-radius: 100%;
  background-color: rgba(40,69,98,0.75);
}

#hero-text {
  background-color: rgba(40,69,98,0.75);
  margin: 20px;
}

  /* Services - Link
   ========================================================================== */


/* Main Content */

  /* About Us
   ========================================================================== */

  /* Why Us
   ========================================================================== */
.feature {
  width: 25%;
}

.feature img {
  width: 80px;
  height: 80px;
}
  /* It Solutions
   ========================================================================== */
.col-sm-3 {
  padding: 10px;
}

  /* Business Hours
   ========================================================================== */
#hours #info {
  background-color: rgb(40,69,98);
  color: white;
}

.day {
  width: 13%;
}

.days {
  justify-content: space-around;
  margin: 20px;
}

.phone {
  align-items: center;
  justify-content: center;
}

.phone img {
  width: 80px;
  height: 80px;
}

.phone div {
  justify-content: center;
  align-items: center;
}

.phone p {
  font-size: 3rem;
}
  /* Contact Us
   ========================================================================== */


/* Footer  */

  /* Newsletter - Link
   ========================================================================== */

    /* Modal */

  /* Hero - Omega
   ========================================================================== */
#omega {
 background-image: url('../img/hero-bg.jpeg');
 background-size: cover;
 min-height: 500px;
 color: white;
 -webkit-font-smoothing: antialiased;
 text-rendering: optimizeLegibility;
 align-items: center;
 justify-content: center;
}

#omega .overlay {
  min-height: 500px;
}

#omega .container {
  justify-content: center;
}

#omega .row {
  justify-content: center;
}

#omega .hero-text {
  width: 100%;
}


  /* Footer
   ========================================================================== */

footer p {
  margin: 0;
}

footer p.pull-right {
  color: white;
}

footer a:link, footer a:visited {
  color: white;
}

footer a:hover {
  color: #dd5638;
}

footer li.signup-link a {
  color: #dd5638;
}

footer li.signup-link a:hover {
  font-weight: bold;
}

footer #brand {
  color: rgb(235,28,36);
}
